.carosel-img {
    width: 1350px;
    height: 550px;
}

.carousel-heading {
    color: goldenrod;
    font-size: 50px;
    font-family: serif;

}

.carouser-des {
    color: goldenrod;
    font-size: 30px;
    font-family: serif;
}

.photographer-services {
    color: goldenrod;
    font-family: serif;
    text-align: center;
    padding: 30px;
}

h3 {

    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s steps(22) infinite;
    border-right: 3px solid rgb(26, 28, 26);
    font-size: 60px;
}

@keyframes text {
    0% {
        width: 0ch;
    }

    50% {
        width: 22ch;
    }
}