.form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login-form {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
}

.Login-form h1 {
    margin: 40px 0;
    color: rgb(161, 123, 28);
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-field label {
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: rgb(161, 123, 28);
}

.input-wrapper {
    padding: 2px;
    border-radius: 7px;
    color: rgb(161, 123, 28);
    background: linear-gradient(25deg,
            rgba(161, 123, 28) 0%,
            rgb(221, 194, 126) 100%);
}

.input-field input {
    width: 315px;
    height: 55px;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    border: none;
    background-color: #fff;
    outline: none;
}

.google-logo {
    height: 55px;
    width: 315px;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    background-color: rgb(234, 204, 130);
    font-size: 18px;
    position: relative;
    cursor: pointer;
    border: none;

}

.google-auth img {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}


.submit-button {
    width: 100%;
    height: 55px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;

    background-color: rgb(161, 123, 28);

}


.google-auth p {
    margin-left: 10px;
}

.create-account {
    margin-top: 15px;
    color: rgb(161, 123, 28);
}

.redirect span {
    text-decoration: underline;
    cursor: pointer;
    color: #1e90c2;
}

.horizontal-divider {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.horizontal-para {
    margin: 0 10px 2px 10px;
    color: rgb(161, 123, 28);
}

.line-right,
.line-left {
    height: 1px;
    width: 145px;
}

.line-left {
    background: rgb(161, 123, 28);
    ;

}

.line-right {
    background: rgb(161, 123, 28);


}

.error {
    margin-top: 10px;
    color: red;
    font-size: 15px;
}