.card-img {
    width: 600px;
    height: 400px;
}

.card-title {
    color: rgb(156, 117, 20);
}

.card-describtion {
    color: rgb(64, 59, 59);
    font-size: 20px;
}


.checkout-button {
    background-color: goldenrod;
    width: 100%;
}

.checkout-button:hover {
    background-color: rgb(248, 236, 172);
}